<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAEoeIyh3tXU+hqBFCgTpH7AAAAAACAAAAAAAQZgAAAAEAACAAAABn6rjY4hghwF+cf3X35utDNA42mF73mj6vG6hzNESzHAAAAAAOgAAAAAIAACAAAAABQ30cRtStkcqdYgZUUGsWNAsbCDJ6X5ChcnruwlQj5jAAAADyRJKHZSZJRfdIpd8AvQkiXr/hz93kdsYOSC7Rh/8LC0Dzbj/K6gv9Pq3PBrHvA8dAAAAAVccx7EbN59SGyAUYGJIiWdOlKD+NoayamBe9eu4Bo4GQO+2lhFBozuXKvK0TUtZcRXAXMumRSQ15G4DtUWohoQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAEoeIyh3tXU+hqBFCgTpH7AAAAAACAAAAAAAQZgAAAAEAACAAAADM+T4kQGNMPya1Sj3NvGdZCWBiJTQVhpN+k0AV4xxTEAAAAAAOgAAAAAIAACAAAACyKzw8S1dxDNRZDb68CKNOauZi83FOKTSAPYD+KuubPDAAAAC+Eh5oeYv6PJc80BVPxyAHhAfjurjm2K/0I9xbyi0fExrMv0dYyFshRpZ5zp6xBZJAAAAA98ItjocmDcUS8d6eVSvuRHV3etSOxJTqaQQZSx2yV5L3PGPso8LJ0PaYZLUJXXwQCU4MoMdNTgZ+DDjUjqZEzA==" />
  </apikeys>
</configuration>